// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

// Custom
div:last-of-type {
    margin-bottom: 0 !important;
}

label.form-label {
    font-weight: bold;
}

.bi:before {
    margin-right: 0.375rem;
}
