<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ app_name }}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="build/app.css">
        {% endblock %}
    </head>
    <body class="m-3">
        <div class="container-fluid bg-light text-dark rounded-sm pt-3 pb-3">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="build/app.js"></script>
            <script type="text/javascript" src="build/runtime.js"></script>
        {% endblock %}
    </body>
</html>
