<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ app_name }}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body class="m-3">
        {% block body %}
            <div class="container-fluid bg-light rounded-sm pt-3 pb-3">
                {% block content_header %}
                    <div class="mb-3 clearfix">
                        <h1 class="d-inline-block float-start h2 mb-0">
                            {% block content_title %}
                                {{ app_name }}
                            {% endblock %}
                        </h1>

                        <div class="d-inline-block float-end">
                            {% block content_locale_switch %}
                                {% include 'partial/locale_switch.html.twig' %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block content_flash %}
                    {% include 'partial/flash.html.twig' %}
                {% endblock %}

                {% block content %}{% endblock %}
            </div>

            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
                <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
