{{ form_start(form) }}
    <div class="mb-3">
        <div class="form-error">
            {{ form_errors(form.app) }}
        </div>

        <div class="form-row row">
            <div class="col col-6">
                {{ form_label(form.app) }}
            </div>

            <div class="col col-6">
                {{ form_widget(form.app) }}
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-error">
            {{ form_errors(form.keys) }}
        </div>

        <div class="form-row row">
            <div class="col col-6">
                {{ form_label(form.keys) }}
            </div>

            <div class="col col-6">
                {{ form_widget(form.keys) }}
                {{ form_help(form.keys) }}
            </div>
        </div>
    </div>

    <div class="mb-0">
        <div class="form-row row">
            <div class="col col-6">
                &nbsp;
            </div>

            <div class="col col-6 clearfix">
                <div class="d-inline-block float-end ms-1">
                    {{ form_row(form.reset, {'attr': {'class': 'btn-danger text-white bi bi-trash2' }}) }}
                </div>

                <div class="d-inline-block float-end">
                    {{ form_row(form.save, {'attr': {'class': 'btn-success text-white bi bi-tv' }}) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
