{% extends 'base.html.twig' %}

{% block content %}
    {% if form is defined %}
        <div class="mb-3">
            {{ 'remote.template.description'|trans }}
            <br>
            {{ 'remote.template.instructions'|trans }}
        </div>

        <div class="mb-0 col-6">
            {% block content_form %}
                {% include 'remote/form.html.twig' %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
