{% set current_path = app.request.get('_route') %}

<i class="fs-5 bi bi-translate"></i>

{% for locale in locale_list %}
    {% set is_disabled = (app.request.locale == locale) %}

    <a class="btn btn-dark {% if is_disabled %}disabled{% endif %}"
       href="{{ path(current_path, {_locale: locale}) }}">
        {{ locale|upper }}
    </a>
{% endfor %}
